# Python Basic Training

In [1]:
print("Hello World")

Hello World

In [3]:
x = "Hello World"

In [4]:
x = 1

In [5]:
print(x)

1

In [6]:
x = "Hello World"

In [7]:
print(x)

Hello World

In [8]:
x = 4
y = 10
print(x)
print(y)

4
10

In [9]:
x = 4
y = 10
print(x,y)

4 10

In [12]:
x,y = 6, 24
print(y,x)

24 6

# Variable Names

1. A variable name must start with a letter or the underscore character _
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric character and underscores (A-Z,a-z,0-9,_)
4. Variable names are case-sensitive(age,AGE)

In [13]:
age = 20
AGE = 30

In [14]:
age

20

In [15]:
AGE

30

Capital letter == Upper Case 
Small Letter == Lower case

In [16]:
x = 20

In [17]:
x = 40

In [18]:
x

40

In [20]:
X = 60

In [21]:
X

60

In [22]:
x

40

In [23]:
x= y= z =0

In [24]:
x

0

In [25]:
y

0

In [26]:
z

0

In [27]:
print(x)

0

In [28]:
x1 = 6

In [29]:
1x = 7

SyntaxError: invalid syntax (<ipython-input-29-83fc17a42fb9>, line 1)

In [30]:
x1x = 7

In [31]:
x1x

7

In [32]:
x1

6

In [33]:
x2x = 9

In [34]:
x2x

9

In [35]:
x1x

7

In [36]:
age = 18

In [38]:
print("my age is {}".format(age))

my age is 18

() paranthesis 
{} braces 
[] square

In [39]:
print(f"my age is {age}")

my age is 18

In [41]:
print(f"my age is {age}. the value of x is {x1x}")

my age is 18. the value of x is 7

In [43]:
print("my age is {}. The value of x is {}".format(age,x1x))

my age is 18. The value of x is 7

In [44]:
first_name = 'Niranjan'

In [48]:
last_name = 'Bekoju'

In [49]:
print(first_name,last_name)

Niranjan Bekoju

In [51]:
name = first_name+" "+last_name
print(name)

Niranjan Bekoju

# Python Data Types

1. String
2. Numeric 
    int 
    float real
3. sequence 
    list, tuple, range 
4. mapping data 
    dictionary 
5. SET 
6. bool

In [52]:
a = "Lisha"

In [53]:
type(a)

str

In [54]:
b= "Lisha English Sec. school"

In [55]:
type(b)

str

In [56]:
c= 'lisha'

In [57]:
type(c)

str

In [62]:
a = 4.0

In [63]:
type(a)

float

In [60]:
a = 5.6

In [61]:
type(a)

float

In [64]:
a = True

In [65]:
print(a)

True

In [66]:
b = False

In [67]:
print(b)

False

In [71]:
#Arithmetic Operator
#+,-,*,/,%,**,//

In [73]:
print(6+5)

11

In [74]:
print(6-9)

-3

In [75]:
print(6*9)

54

In [76]:
print(7/2)

3.5

In [77]:
#%,**,//

In [ ]:
#floor ceiling